.drag {float:left; margin:10px;}
.button{margin:10px;}

#seats{width:200px; height:auto;}
#control {width: 200px; height: 200px;}

.room_board{position:relative;}
.room_wrap{float:left; position:relative; display:inline-block; width: 400px; height: 200px;}
.draggable_bar{
  width:100%;
  height:50px;
  background-color:#666;
  color:white;
  padding:10px 12px;
  cursor:move;
  position:absolute; /* important (all position that's not `static`) */
}		
.room_wrap .room{width: 400px; height: 200px; padding-top:50px;}
.room_wrap .room .block{float:left; position:relative; margin:10px; width:200px; height:100px;}
.resizer { width: 10px; height: 10px; background: blue; position:absolute; right: 0; bottom: 0; cursor: se-resize; }